* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  background-color: azure;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 1px 8px 0.5px 5px rgb(240, 241, 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 0 70px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 25px;
  color: black;
}

.logo .fa {
  color: orangered;
}
#menu {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.navbar {
  display: flex;
  column-gap: 1rem;
}
.navbar li a {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: black;
}

.navbar li a:hover,
.navbar li a.active {
  background-color: rgb(19, 156, 19);
  color: white;
}

.profile {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-right: 40px;
}

.profile img {
  width: 50px;
  border-radius: 50%;
}
.profile span {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

/* home styling */

.home {
  margin-right: auto;
  margin-left: auto;
}

.home .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 2rem 0;
}

.home .container img {
  width: 500px;
  margin-right: 9rem;
  margin-top: 4rem;
}

.home .container .box {
  margin-left: 6rem;
  line-height: 1.5;
}

.container .box span {
  color: green;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}

.container .box h2 {
  font-size: 35px;
  font-weight: 600;
}

.container .box .btn {
  background-color: green;
  color: white;
  text-transform: capitalize;
  padding: 0.6rem 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 130px;
  margin-top: 1rem;
  border-radius: 1.5rem;
}

.container .box .btn:hover {
  background-color: orangered;
}

.btn .fa {
  background: white;
  color: black;
  font-size: 12px;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .dav {
  color: green;
}

.dav:hover {
  color: orangered;
}

/* categories styling */

.categories {
  background-color: beige;
}

.categories .cate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories .cate h2 {
  margin-left: 5rem;
  text-transform: capitalize;
  font-size: 35px;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.categories .cate h2 span {
  color: green;
}
.categories .cate .btn {
  background-color: green;
  color: white;
  text-transform: capitalize;
  padding: 0.6rem 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 130px;
  margin-top: 1rem;
  border-radius: 1.5rem;
  margin-right: 6rem;
}

.categories .cate .btn:hover {
  background-color: orangered;
}
.cate .btn .fa {
  background: white;
  color: black;
  font-size: 12px;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.3rem;
}

.categories-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.1rem;
  padding-bottom: 5rem;
}

.categories-container .profile-1 img {
  width: 190px;
  height: 200px;
}
.profile-1 h4 {
  text-align: center;
  text-transform: capitalize;
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 1rem;
}
.box-1 {
  background-color: rgb(219, 184, 140);
  border-radius: 1rem;
  width: 210px;
  height: 300px;
  position: relative;
}

.box-2 {
  background-color: rgb(139, 199, 139);
  border-radius: 1rem;
  width: 210px;
  height: 300px;
  position: relative;
}

.box-3 {
  background-color: rgb(114, 75, 26);
  border-radius: 1rem;
  width: 210px;
  height: 300px;
  position: relative;
}

.box-4 {
  background-color: rgb(112, 110, 107);
  border-radius: 1rem;
  width: 210px;
  height: 300px;
  position: relative;
}

.box-5 {
  background-color: rgb(112, 112, 34);
  border-radius: 1rem;
  width: 210px;
  height: 300px;
  position: relative;
}
.profile-1 h6 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.profile-1 .fa {
  position: absolute;
  bottom: -4%;
  margin-left: 6rem;
  background-color: green;
  color: white;
  border-radius: 100%;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.profile-1:hover .fa {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-1 .fa:hover {
  background-color: orangered;
}

/* produst styling */

.products {
  background-color: antiquewhite;
}
.products .prod {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products .prod h2 {
  margin-left: 5rem;
  text-transform: capitalize;
  font-size: 35px;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.products .prod h2 span {
  color: green;
}

.products .prod .btn {
  background-color: green;
  color: white;
  text-transform: capitalize;
  padding: 0.6rem 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 130px;
  margin-top: 1rem;
  border-radius: 1.5rem;
  margin-right: 6rem;
}
.products .prod .btn:hover {
  background-color: orangered;
}
.prod .btn .fa {
  background: white;
  color: black;
  font-size: 12px;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.3rem;
}

.products .product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 2rem;
}
.product-container .content {
  background-color: rgb(158, 145, 127);
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 5px 2px 0.5px rgb(161, 134, 98);
  padding-left: 1rem;
  line-height: 1.5;
}

.content h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.content h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.content h6 {
  font-size: 17px;
  font-weight: 400;
  color: orangered;
  padding-bottom: 1.2rem;
}

.content h6 span {
  color: black;
}

.content .came {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 1.3rem;
  background-color: green;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem 0 0.5rem 0;
  cursor: pointer;
}
.content .came:hover {
  background-color: orangered;
}
.content .come {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.4rem;
  color: white;
  cursor: pointer;
}
.content .come:hover {
  color: orangered;
}
.content div {
  position: absolute;
  top: 1rem;
  left: 0;
  background-color: green;
  color: white;
  padding: 0.4rem 1.4rem;
  font-size: 16px;
  font-weight: 500;
}

/* about styling */

.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.about-container .picture img {
  width: 400px;
  margin-left: 10rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.about-container .us {
  margin-left: 5rem;
  line-height: 1.5;
  margin-top: 4rem;
}
.about-container .us p {
  width: 90%;
  text-align: justify;
  font-size: 17px;
}

.about-container .us h2 {
  color: green;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
.about-container .us .btn {
  background-color: green;
  color: white;
  text-transform: capitalize;
  padding: 0.6rem 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 140px;
  margin-top: 1rem;
  border-radius: 1.5rem;
  margin-right: 6rem;
}
.about-container .us .btn:hover {
  background-color: orangered;
}

/* customers styling */

.customers {
  background-color: rgb(241, 241, 228);
}

.customers h2 {
  text-align: center;
  padding: 2.5rem;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 700;
}

.customers .customers-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.customers-container .cust {
  background-color: aliceblue;
  box-shadow: 0 6px 0 0 green;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding: 1.3rem;
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
}
.customers-container .cust:hover {
  transform: translatey(5%);
  transition: 0.2s all linear;
}

.customers-container .cust p {
  text-align: justify;
  padding-top: 0.5rem;
  line-height: 1.3;
}

.customers-container .cust .pic {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.customers-container .cust .pic img {
  width: 50px;
  border-radius: 50%;
  margin-top: 1rem;
}

.cust .pic span {
  margin-left: 0.5rem;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.cust .get {
  padding-bottom: 1rem;
  color: green;
  font-size: 18px;
}
.cust .block .got {
  color: orangered;
}

/* footer styling */

.foot {
  background-color: bisque;
  width: 75%;
  margin: auto;
}

.foot .food {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 3rem;
  flex-wrap: wrap;
}
.food .nice {
  margin-top: -5rem;
}
.nice .logo {
  color: orangered;
  margin-left: -6rem;
  font-size: 20px;
  font-weight: 600;
}
.food .nice p {
  margin-left: -1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.food .nice .face {
  color: green;
  margin-right: 1.5rem;
  margin-left: -1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.food .nice .face:hover {
  color: orangered;
}

.food .cat h3 {
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.food .cat a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: black;
  font-weight: 500;
}
.food .cat a:hover {
  color: orangered;
}

.food .cat-1 h3 {
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.food .cat-1 a {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: black;
  font-weight: 500;
}
.food .cat-1 a:hover {
  color: orangered;
}

.food .cat-2 {
  margin-top: -4rem;
}

.food .cat-2 h3 {
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}
.food .cat-2 p {
  line-height: 2;
}
.cat-2 .ver {
  color: green;
}

.cat-2 input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin-left: -1.7rem;
  margin-top: 1rem;
}

.cat-2 input[type="email"] {
  text-align: center;
}

.cat-2 .for {
  color: orangered;
}
.copy p {
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  font-weight: 600;
}

/* Responsive */

@media screen and (max-width: 1080px) {
  header {
    padding: 10px 10px;
  }
  .logo {
    font-size: 25px;
    padding: 0 40px;
  }
  .navbar li a {
    font-size: 1rem;
  }
  .container .box h2 {
    font-size: 25px;
    font-weight: 600;
  }
  .home .container img {
    width: 530px;
  }

  .categories .categories-container {
    padding: 2.5rem;
  }

  .about .about-container {
    padding: 0.5rem;
  }

  .about-container .picture img {
    width: 350px;
    margin-left: 6rem;
  }

  .about-container .us {
    margin-left: 3rem;
  }
  .nice .logo {
    margin-left: -4rem;
  }
}

@media screen and (max-width: 950px) {
  .navbar {
    display: flex;
    column-gap: 0.5rem;
  }
  .logo {
    font-size: 22px;
  }
  .navbar li a {
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
  }

  .container .box {
    margin-bottom: -5rem;
    margin-left: -2rem;
  }
  .container .box h2 {
    font-size: 25px;
    font-weight: 600;
  }
  .home .container img {
    width: 300px;
  }
  .home .dav {
    margin: 0;
    padding: 0;
  }

  .home .container {
    padding: 3rem 0 3rem 0;
  }
  .about .about-container {
    padding-top: 2rem;
  }

  .about-container .picture img {
    width: 250px;
    margin-left: 5rem;
  }

  .about-container .us {
    margin-left: 2rem;
  }
  .foot .food {
    padding: 2rem;
  }
}

@media screen and (max-width: 750px) {
  #menu {
    display: block;
  }
  .logo {
    font-size: 25px;
    padding: 0 40px;
  }
  .navbar {
    position: absolute;
    top: -570px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(187, 187, 186);
    box-shadow: 4px 4px 0 4px rgb(14 55 54 / 15%);
    transition: 0.2s all linear;
    text-align: left;
  }

  .navbar a {
    padding: 1rem;
    margin: 1rem;
    display: block;
  }

  .navbar a:hover,
  .navbar a.active {
    border-radius: 00.5rem;
  }

  .navbar.active {
    top: 100%;
  }

  .home .container img {
    width: 300px;
  }

  .container .box h2 {
    font-size: 21px;
    font-weight: 600;
    margin-left: -20rem;
  }
  .container .box span {
    margin-left: -20rem;
  }
  .home .container {
    flex-direction: column;
    padding-top: 8rem;
  }

  .home .container img {
    width: 400px;
    margin-left: 5rem;
    margin-top: 8.6rem;
  }

  .container .box .btn {
    position: relative;
    right: -5rem;
    margin-top: -7rem;
    margin-right: -8rem;
  }

  .home .dav {
    margin: 0;
    display: non;
  }

  .categories .cate h2 {
    font-size: 25px;
  }

  .categories .cate .btn {
    margin-right: 2.5rem;
  }

  .products .prod h2 {
    margin-left: 2rem;
    font-size: 25px;
    padding-top: 2rem;
  }

  .products .prod .btn {
    margin-right: 3rem;
  }

  .about .about-container {
    padding: 0.3rem;
    flex-direction: column-reverse;
  }

  .about-container .picture img {
    width: 350px;
    margin-left: 5rem;
    margin: auto;
    padding-bottom: 2rem;
  }

  .about-container .us {
    margin-left: 2rem;
    text-align: center;
    padding: 2rem;
  }
  .foot .food {
    flex-direction: column;
    align-items: start;
    padding-top: 7rem;
    padding-left: 5rem;
  }
  .nice .logo {
    margin-left: -4rem;
  }
  .copy p {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    display: flex;
    column-gap: 0.5rem;
  }
  .logo {
    font-size: 17px;
  }
  .navbar li a {
    font-size: 0.8rem;
    padding: 0.5rem 0.7rem;
  }

  .home .container img {
    margin: auto;
    padding-top: 9rem;
  }

  .container .box h2 {
    font-size: 18px;
    font-weight: 600;
    margin-left: -10rem;
  }
  .container .box span {
    margin-left: -10rem;
  }
  .home .container {
    flex-direction: column;
    padding-top: 8rem;
  }

  .home .container img {
    width: 400px;
    margin-left: 5rem;
  }

  .container .box .btn {
    position: relative;
    right: -5rem;
    margin-top: -7rem;
    margin-right: -5rem;
  }

  .home .dav {
    margin: 0;
    display: none;
  }

  .categories .cate h2 {
    font-size: 20px;
  }

  .categories .cate .btn {
    margin-right: 2.5rem;
  }

  .products .prod h2 {
    margin-left: 2rem;
    font-size: 20px;
    padding-top: 2rem;
  }

  .products .prod .btn {
    margin-right: 3rem;
  }

  .about .about-container {
    padding: 0.3rem;
    flex-direction: column-reverse;
  }

  .about-container .picture img {
    width: 350px;
    margin-left: 5rem;
    margin: auto;
    padding-bottom: 2rem;
  }

  .about-container .us {
    margin-left: 2rem;
    text-align: center;
    padding: 2rem;
  }
  .foot .food {
    padding-left: 5rem;
  }

  .copy p {
    font-size: 16px;
  }
}

@media screen and (max-width: 359px) {
  .logo {
    display: flex;
    column-gap: 0.3rem;
    position: relative;
    left: -1.5rem;
    font-size: 17px;
  }
  #menu {
    font-size: 1rem;
    display: flex;
    position: relative;
    left: -2rem;
  }

  .profile {
  display: flex;
  align-items: center;
  
}

.profile img {
  width: 30px;
}
.profile span {
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}





  .home .container {
    padding: 3rem;
  }
  .home .container img {
    margin: auto;
    width: 300px;
  }

  .container .box {
    padding: 4rem;
  }

  .container .box .btn {
    font-size: 15px;
    padding: 0.4rem 0.8rem;
    position: absolute;
    right: 5rem;
  }


  .categories .cate h2 {
  margin-left: 1rem;
  font-size: 17px;
}
.categories .cate .btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  padding: 0.4rem 0.8rem;
  position: relative;
  right: -1rem;
}
.products .prod h2{
  font-size: 16px;
  margin-left: 1rem;
}

.products .prod .btn {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 0.4rem 0.8rem;
  position: relative;
  right: -1.5rem;
}

.customers-container .cust .pic img {
  margin-top: -.1rem;
  width: 40px;
}
}
